body {
	background-color: #ffdaa1;	
	margin: 0 auto;
	padding: 0;
}
header {
	height: 70px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.basket {
	position: absolute;	
	margin-left: -50px; 	
}
.goods-item{
	display: flex;
	justify-content: center;
	align-items: center;

}
.item-title {
	width: 150px;
	text-align: center;
}
.item-price {
	width: 150px;
    text-align: center;
}